@keyframes backgroundChange {
    0% {
        background-image: url(./assets/cover1.png);
    }

    20% {
        background-image: url(./assets/cover2.png);
    }

    40% {
        background-image: url(./assets/cover3.png);
    }

    60% {
        background-image: url(./assets/cover4.png);
    }

    80% {
        background-image: url(./assets/cover4.png);
    }

    100% {
        background-image: url(./assets/cover1.png);
    }
}

@keyframes moveCenterToLeftRight {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-1000%) translateY(0);
    }
}

@keyframes moveCenterToRightLeft {
    0% {
        transform: translateX(-1000%) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.navbar {
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    /* margin-right: 10rem;
    margin-left: 2rem; */
    cursor: pointer;
}

.items {
    color: black;
    padding: 0.3rem;
    background-color: yellow;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
}

.items:hover {
    box-shadow: 1px 1px 20px 8px #f5ff698a;
}
/* For the burger menu */
.menu {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10%;
    padding-right: 1.5rem;
}

:root {
    --animation-curve: cubic-bezier(1, 0, 0, 1);
}

label {
    background-color: antiquewhite;
    width: 2.2em;
    height: .2em;
    display: block;
    position: absolute;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        width: 2.2em;
        height: .2em;
        display: block;
        position: absolute;
        background-color: antiquewhite;
        transition: all 0.6s var(--animation-curve);
    }

    &::before {
        top: -250%;
        left: 0%;
        transform-origin: left top;
        /*     transform: rotateZ(0deg); */
    }

    &::after {
        bottom: -250%;
        left: 0%;
        transform-origin: left bottom;
        /*     transform: rotateZ(0deg); */
    }
}

#toggle:checked~label::before {
    background-color: antiquewhite;
    content: '';
    transform: rotateZ(30deg);
}

#toggle:checked~label::after {
    content: '';
    background-color: antiquewhite;
    transform: rotateZ(-30deg);
}

#toggle:checked~label {
    background: transparent;
}

#toggle~label {
    transition: all 0.6s var(--animation-curve);
}

input {
    display: none;
}

/* Mobile View Navbar */
.navbar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(40px);
    top: 7vh;
    left: -200%;
    height: 100%;
    width: 100%;
    float: left;
    transition: left 0.4s ease-in-out;
    z-index: 2;
}

.navbar-mobile.open {
    left: 0;
}

.navbar-mobile.close {
    left: -200%;
}
#nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    padding-left: 0;
    list-style: none;
    font-weight: bold;
    font-size: 3rem;
    color: aliceblue;
}

.cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* background-image: url(./assets/cover1.png); */
    animation-name: backgroundChange;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0;
    overflow-x: hidden;
}

.cover-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    font-weight: bolder;
    word-wrap: normal;
}

.elan-tag {
    color: rgb(255, 255, 193);
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.brief-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50rem;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #670044, #82004e, #9e0056, #bb005c, #d80060, #e61c5b, #f33055, #ff424e, #ff5d42, #ff7636, #ff8d2d, #ffa328);
    overflow-x: hidden;
}

.intro-text-one {
    color: white;
    font-size: 1.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    text-wrap: wrap;

}

.past-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50rem;
    background-color: #ffa328;
    height: 60rem;
    width: 100%;
    overflow: hidden;
}

.gallery-one {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 10vw;
    animation: moveCenterToLeftRight 15s linear infinite;
}

.gallery-two {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 40rem;
    gap: 5rem;
    width: 10vw;
    animation: moveCenterToRightLeft 15s linear infinite;
}

.gallery-img {
    width: 30rem;
    height: 20rem;
    /* margin-right: 2rem;
    margin-left: 2rem; */
}

.gallery-text {
    position: absolute;
    top: 25rem;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 8rem;
    color: white;
}

.aftermovie-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50rem;
    height: 40rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffa328, #ff961c, #ff8910, #ff7a06, #ff6b00, #ed5718, #da4422, #c53227, #95232b, #641b27, #34131b, #000000);
    padding-bottom: 5rem;
    overflow-x: hidden;
}

.iframe-title {
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.footer {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* top: 175rem; */
    margin-top: 48rem;
    height: 16rem;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: end;
    padding-bottom: 1rem;
    overflow-x: hidden;
}

.footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.footer-logo {
    height: 10rem;
    width: 10rem;
}

.footer-contact {
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.iframe-cont{
    overflow: hidden;
}

.cover-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .items {
        display: none;
    }
    .title{
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 4rem;
    }
    .elan-tag{
        font-size: 1.2rem;
    }
    .gallery-text{
        font-size: 4rem;
        top: 19rem;
    }
    .iframe-title{
        font-size: 2rem;
        padding-bottom: 0;
    }
    .iframe-cont{
        transform: scale(0.4);
    }
    .gallery-img{
        width: 15rem;
        height: 10rem;
    }
    .gallery-two{
        top: 35rem;
    }
    .footer-cont{
        width: 100%;
        gap: 2rem;
    }
    .menu{
        display: block;
    }
}